.Mainpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('mainpage.jpeg');
  background-size: cover; 
  background-position: center;
}

.Mainpage-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  max-height: 70vh; /* Set a maximum height for the card container */
  overflow-y: auto; /* Add vertical scrollbar if content exceeds the height */
}

label {
  margin-right: 10px;
  margin-bottom: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

h1 {
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #555;
}

h3 {
  margin-top: 10px;
  color: #777;
}
